/* about page styling */
.jumbotron {
  text-align: center;
}

.login-div {
  width: 50%;
  margin: auto;
  text-align: center;
}

/* navbar styling */
.navbar {
  width: 100%;
  text-align: left;
}

#nav{
  padding: 0;
}

.home-link {
  color: white;
}

.about-link {
  color: white;
}

.profile-link{
  color: white;
}

.locations-link {
  color: white;
}

/*reivew section styling*/
#review-card{
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

#review-form{
  width: 50%;
  text-align: center;
  margin: auto;
}

#review-title{
  text-align: center;
}

.form-group{
  text-align: center;
}

/*location profile styling*/
#location-info{
  text-align: center;
}

.home-page {
  text-align: center;
  background-image: url("https://cdn.vox-cdn.com/thumbor/JYi5YEy3FR-XaRWOthiYbnkDQzM=/0x0:3500x2333/1200x675/filters:focal(1470x887:2030x1447)/cdn.vox-cdn.com/uploads/chorus_image/image/65161923/GettyImages_975466978.0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  font-family: 'Sarabun', sans-serif;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

#home-header {
  font-size: 70px;
}

#dis-logo{
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*review card styling*/
.avatar{
  float: left;
}

#review-context{
  float: left;
}

.card-body{
  text-align: center;
  margin: auto;
}

#review-form{
  width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}

.review-counter {
  text-align: center;
}

/* Location Container*/
.loc-index-img{
  text-align: center;
  margin: auto;
}
#loc-card-title{
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
}

#loc-profile-header {
  font-family: 'Nunito', sans-serif;
}




